@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
  
body{
    background-color: #F3EFE3;
    margin-top: 28%;
    height: 84vh;
}
.title{
    font-size: 70px;
    padding-top: 11%;
    color: #2b1e1e;
    margin-left: 7.3%;
}
.sub-title{
    width: 29%;
    font-size: 19px;
    color: #9c9b99;
    padding-top: 3.5%;
    margin-left: 8%;
    line-height: 1.3em;
    font-weight: 500;
}
.image{
    margin-left: 35%;
    margin-top: -31%;
}
.button{   
    margin-left: 8%;
    margin-top: -12%; 
}

.header{
    font-size: 18px;
    margin-top: -16%;
    color: #2b1e1e;
    margin-left: 80%;
}

.sub-header{
    width: 29%;
    font-size: 19px;
    color: #9c9b99;
    padding-top: 2%;
    margin-left: 65%;
    line-height: 1.3em;
    font-weight: 500;
}