<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle Website</title>
    <link rel="stylesheet" href="our-work.component.css">
</head>
<body>
    <div class="title">{{title}}</div>
    <div class="sub-title">{{sub_title}}</div>
    <div class="header">{{header}}</div>
    <div class="sub-header">{{sub_header}}</div>
    <div class="image"><img src="../assets/images/venice.png" width="400"></div>
    <div class="button">
        <button type="start" class="btn btn-primary" style="height: 47px; font-size: 17px;
        background-color: #424246; border: none; width: 13%; color: #fff;">Read More</button>
    </div>
   


    
</body>
</html>
