*body {
    padding-top: 3%;
    margin: 0;
    height: 50vh;
  }
 
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .widget > * {
      flex: 1;
    }
    
    .container {
      flex-grow: 2;
    }
    
    .delivery {
      flex: 1 0px;
    }
    
    .service {
      flex: 2 0px;
    }
  }
  .title {
    position: relative;
    margin-left:33%;
    font-size: x-large;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    letter-spacing: 7px;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 2s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 500px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }

  .sub-title {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    font-size: 17px;
    padding-top: 1%;
    padding-bottom: 2%;
    color: gray;

  }

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(50%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.pan-tool{
  margin-left: 12%;
  padding-top: 3%;

}

.heading{
  padding-top: 1%;
  font-weight: bold;
  font-size: 19px;

}

.sub-head{
  width: 22%;
  padding-top: 1%;
  color: gray;
}
.delivery{
  margin-left: 40%;
  margin-top: -12.5%;
}
.heading-2{
  padding-top: 1%;
  font-weight: bold;
  font-size: 19px;

}

.sub-head-2{
  width: 36%;
  padding-top: 1%;
  color: gray;
}

.service{
  margin-left: 70%;
  margin-top: -13%;
}
.heading-3{
  padding-top: 3%;
  font-weight: bold;
  font-size: 19px;

}

.sub-head-3{
  width: 70%;
  padding-top: 3%;
  color: gray;
}


  