<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle Website</title>
    <link rel="stylesheet" href="difference.component.css">
</head>

<body>

    <div class="title">{{title}}</div>
    <div class="sub-title">{{sub_title}}</div>

    
    <div class="icon"><mat-icon style="margin-right: 1em; color: #000;">pan_tool</mat-icon></div>
    <div class="heading">{{Heading}}</div>
    <div class="sub_head">{{sub_head}}</div>
   
</body>
</html>
