@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

body{
   background-color: #424246;
   height: 8vh;
   padding-top: 3%;
   font-weight: bold;
   font-family: 'Playfair Display', serif;
   font-family: 'Quicksand', sans-serif;
}

#nav{
  position: fixed;

}

.logo{
    color: #FFD895;
    font-size: 27px;
    padding-left: 7%;
    margin-bottom: -2%;
}

.navbar {
    overflow: hidden;
    margin-right: 31%;
    margin-bottom: 20%;
    
  }

.icons{
    float: right;
    padding-right: 6%;
    
 }
  
.navbar a {
    float: right;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }

