<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle Website</title>
    <link rel="stylesheet" href="navbar.component.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  
</head>
<body style="position: relative, fixed;">

    <nav>  
        <div class="icons">
            <mat-icon style="margin-right: 1em; color: #fff;">search</mat-icon>
            <mat-icon style="margin-right: 1em; color: #fff;">person</mat-icon>
            <mat-icon style="margin-right: 0.5em; color: #fff;">delete</mat-icon></div>

        <div class="logo">Shine</div>
        <div class="navbar">
            <a href="#" ></a><a routerLink="/our-work">Blogs</a>
            <a href="#"></a><a routerLink="/collection">Testimonies</a>
            <a href="">Products</a>
            <a href="#" ></a><a routerLink="/our-work">About</a>
            <a href="">Home</a>
        </div>
    </nav>  
  
    
</body>
</html>
