<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candle Website</title>
    <link rel="stylesheet" href="home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playfair+Display&family=Quicksand:wght@300&display=swap" 
rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <app-navbar></app-navbar>

    <div class="header">{{Header}}</div>
    
   <div class="heading">{{Heading}}</div>

    <div class="sub_heading">{{sub_heading}}</div>

    <img src="../assets/images/candle.png" style="margin-left: 62%; margin-top: -22%; width: 430px;">
    
            <div class="button">
                <button type="start" class="btn btn-primary" style="height: 40px; font-size: 16px;
                background-color: #FFD895; border: none; width: 10%;">Get Started</button>
            </div>
            <div class="play">
            <mat-icon style="color: #FFD895; background-color: #fff; border-radius: 100%; padding: 0.4%;"
            >play_arrow</mat-icon></div>

            <div class="text">{{last_title}}</div>

            <div class="logos">
            <img src="../assets/images/stripe.png" style="margin-right: 3em;" width="8%">
            <img src="../assets/images/samsung.png" style="margin-right: 3em;" width="13%">
            <img src="../assets/images/intel.png" style="margin-right: 3em;" width="6%">
            <img src="../assets/images/oracle.png" style="margin-right: 3em;" width="15%">
            <img src="../assets/images/Monday.png" width="20%">
            </div>

            <app-products></app-products>
            <app-collection></app-collection>
            <app-our-work></app-our-work>
            <app-difference></app-difference>
            <app-footer></app-footer>
            
            
</body>
</html>
