@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

body{
    background-color: #424246; 
    padding-bottom: 2%; 
}
.header{
    margin-top: -34.4%;
    padding-left: 7%;
    color: #fff;
    font-size: large;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;

}
.heading{
    padding-left: 6.6%;
    padding-top: 4.2%;
    font-family: 'Playfair Display', serif;
    color: #FFD895;
    font-size: 120px;
    
}
.sub_heading{
    padding-left: 6.6%;
    padding-top: 6%;
    width: 50%;
    line-height: 1.1em;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;

}
.button{
    color: #FFD895;
    padding-left: 6.6%;
    margin-top: -6.4%; 
}
.play{
    margin-left: 18.5%;
    margin-top: -2.6%; 
}
.text{
    margin-left: 21.8%;
    margin-top: -2.3%; 
    color: #fff;
}
.logos{
    margin-left: 20%;
    margin-top: 6%;
    
}
